{% if site.search_enabled %}
  <script type="module" src="{{ '/assets/js/search/ninja-keys.min.js' | relative_url | bust_file_cache }}"></script>
  <ninja-keys hideBreadcrumbs noAutoLoadMdIcons placeholder="{{ site.data[site.active_lang].strings.search.placeholder }}">
    {% comment %} modal footer and its components were extracted from assets/js/search/ninja-footer.min.js {% endcomment %}
    <div class="modal-footer" slot="footer">
      <span class="help">
        <svg
          version="1.0"
          class="ninja-examplekey"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1280 1280"
        >
          <path
            d="M1013 376c0 73.4-.4 113.3-1.1 120.2a159.9 159.9 0 0 1-90.2 127.3c-20 9.6-36.7 14-59.2 15.5-7.1.5-121.9.9-255 1h-242l95.5-95.5 95.5-95.5-38.3-38.2-38.2-38.3-160 160c-88 88-160 160.4-160 161 0 .6 72 73 160 161l160 160 38.2-38.3 38.3-38.2-95.5-95.5-95.5-95.5h251.1c252.9 0 259.8-.1 281.4-3.6 72.1-11.8 136.9-54.1 178.5-116.4 8.6-12.9 22.6-40.5 28-55.4 4.4-12 10.7-36.1 13.1-50.6 1.6-9.6 1.8-21 2.1-132.8l.4-122.2H1013v110z"
          />
        </svg>
        {{ site.data[site.active_lang].strings.search.footer.select }}
      </span>
      <span class="help">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ninja-examplekey"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ninja-examplekey"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" />
        </svg>
        {{ site.data[site.active_lang].strings.search.footer.navigate }}
      </span>
      <span class="help">
        <span class="ninja-examplekey esc">esc</span>
        {{ site.data[site.active_lang].strings.search.footer.close }}
      </span>
      <span class="help">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ninja-examplekey backspace"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M6.707 4.879A3 3 0 018.828 4H15a3 3 0 013 3v6a3 3 0 01-3 3H8.828a3 3 0 01-2.12-.879l-4.415-4.414a1 1 0 010-1.414l4.414-4.414zm4 2.414a1 1 0 00-1.414 1.414L10.586 10l-1.293 1.293a1 1 0 101.414 1.414L12 11.414l1.293 1.293a1 1 0 001.414-1.414L13.414 10l1.293-1.293a1 1 0 00-1.414-1.414L12 8.586l-1.293-1.293z"
            clip-rule="evenodd"
          />
        </svg>
        {{ site.data[site.active_lang].strings.search.footer.parent }}
      </span>
    </div>
  </ninja-keys>
  <script>
    let searchTheme = determineComputedTheme();
    const ninjaKeys = document.querySelector('ninja-keys');

    if (searchTheme === 'dark') {
      ninjaKeys.classList.add('dark');
    } else {
      ninjaKeys.classList.remove('dark');
    }

    const openSearchModal = () => {
      // collapse navbarNav if expanded on mobile
      const $navbarNav = $('#navbarNav');
      if ($navbarNav.hasClass('show')) {
        $navbarNav.collapse('hide');
      }
      ninjaKeys.open();
    };
  </script>
  {% if site.active_lang == site.default_lang %}
    {% assign lang = '' %}
  {% else %}
    {% assign lang = site.active_lang %}
  {% endif %}
  <script>
    // get the ninja-keys element
    const ninja = document.querySelector('ninja-keys');

    // add the home and posts menu items
    ninja.data = [
      {%- for page in site.pages -%}
        {%- if page.permalink == '/' -%}{%- assign about_title = page.title | strip -%}{%- endif -%}
      {%- endfor -%}
      {
        id: "nav-{{ about_title | slugify }}",
        title: "{{ about_title | truncatewords: 13 }}",
        section: "{{ site.data[site.active_lang].strings.search.navigation }}",
        handler: () => {
          window.location.href = "{{ '/' | prepend: lang | relative_url }}";
        },
      },
      {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
      {%- for p in sorted_pages -%}
        {%- if p.nav and p.autogen == null -%}
          {%- if p.dropdown -%}
            {%- for child in p.children -%}
              {%- unless child.title == 'divider' -%}
                {
                  {%- assign title = child.title | escape | strip -%}
                  {%- if child.permalink contains "/blog/" -%}{%- assign url = "/blog/" -%} {%- else -%}{%- assign url = child.url -%}{%- endif -%}
                  id: "dropdown-{{ title | slugify }}",
                  title: "{{ title | truncatewords: 13 }}",
                  description: "{{ child.description | strip_html | strip_newlines | escape | strip }}",
                  section: "{{ site.data[site.active_lang].strings.search.dropdown }}",
                  handler: () => {
                    window.location.href = "{{ url | prepend: lang | relative_url }}";
                  },
                },
              {%- endunless -%}
            {%- endfor -%}
          {%- else -%}
            {
              {%- assign title = p.title | escape | strip -%}
              {%- if p.permalink contains "/blog/" -%}{%- assign url = "/blog/" -%} {%- else -%}{%- assign url = p.url -%}{%- endif -%}
              id: "nav-{{ title | slugify }}",
              title: "{{ title | truncatewords: 13 }}",
              description: "{{ p.description | strip_html | strip_newlines | escape | strip }}",
              section: "{{ site.data[site.active_lang].strings.search.navigation }}",
              handler: () => {
                window.location.href = "{{ url | prepend: lang | relative_url }}";
              },
            },
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- for post in site.posts -%}
        {
          {%- assign title = post.title | escape | strip -%}
          id: "post-{{ title | slugify }}",
          {% if post.redirect == blank %}
            title: "{{ title | truncatewords: 13 }}",
          {% elsif post.redirect contains '://' %}
            title: '{{ title | truncatewords: 13 }} <svg width="1.2rem" height="1.2rem" top=".5rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>',
          {% else %}
            title: "{{ title | truncatewords: 13 }}",
          {% endif %}
          description: "{{ post.description | strip_html | strip_newlines | escape | strip }}",
          section: "{{ site.data[site.active_lang].strings.search.posts }}",
          handler: () => {
            {% if post.redirect == blank %}
              window.location.href = "{{ post.url | prepend: lang | relative_url }}";
            {% elsif post.redirect contains '://' %}
              window.open("{{ post.redirect }}", "_blank");
            {% else %}
              window.location.href = "{{ post.redirect | prepend: lang | relative_url }}";
            {% endif %}
          },
        },
      {%- endfor -%}
      {%- for collection in site.collections -%}
        {%- if collection.label != 'posts' -%}
          {%- for item in collection.docs -%}
            {
              {%- if item.inline -%}
                {%- assign title = item.content | newline_to_br | replace: "<br />", " " | replace: "<br/>", " " | strip_html | strip_newlines | escape | strip -%}
              {%- else -%}
                {%- assign title = item.title | newline_to_br | replace: "<br />", " " | replace: "<br/>", " " | strip_html | strip_newlines | escape | strip -%}
              {%- endif -%}
              id: "{{ collection.label }}-{{ title | slugify }}",
              title: '{{ title | emojify | truncatewords: 13 }}',
              description: "{{ item.description | strip_html | strip_newlines | escape | strip }}",
              section: "{{ site.data[site.active_lang].strings.search[collection.label] }}",
              {%- unless item.inline -%}
                handler: () => {
                  window.location.href = "{{ item.url | prepend: lang | relative_url }}";
                },
              {%- endunless -%}
            },
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if site.socials_in_search -%}
        {%- if site.email -%}
          {
            id: 'socials-email',
            title: '{{ site.data[site.active_lang].strings.search.email }}',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("mailto:{{ site.email | encode_email }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.telegram_username -%}
          {
            id: 'socials-telegram',
            title: 'Telegram',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://telegram.me/{{ site.telegram_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.whatsapp_number -%}
          {
            id: 'socials-whatsapp',
            title: 'WhatsApp',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://wa.me/{{ site.whatsapp_number }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.orcid_id -%}
          {
            id: 'socials-orcid',
            title: 'ORCID',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://orcid.org/{{ site.orcid_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.scholar_userid -%}
          {
            id: 'socials-google-scholar',
            title: 'Google Scholar',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://scholar.google.com/citations?user={{ site.scholar_userid }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.semanticscholar_id -%}
          {
            id: 'socials-semantic-scholar',
            title: 'Semantic Scholar',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.publons_id -%}
          {
            id: 'socials-publons',
            title: 'Publons',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://publons.com/a/{{ site.publons_id }}/", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.lattes_id -%}
          {
            id: 'socials-lattes',
            title: 'Lattes',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("http://lattes.cnpq.br/{{ site.lattes_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.osf_id -%}
          {
            id: 'socials-open-science-framework',
            title: 'Open Science Framework',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://osf.io/{{ site.osf_id }}/", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.research_gate_profile -%}
          {
            id: 'socials-researchgate',
            title: 'ResearchGate',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.researchgate.net/profile/{{ site.research_gate_profile }}/", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.ieee_id -%}
          {
            id: 'socials-ieee-xplore',
            title: 'IEEE Xplore',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://ieeexplore.ieee.org/author/{{ site.ieee_id }}/", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.acm_id -%}
          {
            id: 'socials-acm-dl',
            title: 'ACM DL',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://dl.acm.org/profile/{{ site.acm_id }}/", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.scopus_id -%}
          {
            id: 'socials-scopus',
            title: 'Scopus',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.scopus.com/authid/detail.uri?authorId={{ site.scopus_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.github_username -%}
          {
            id: 'socials-github',
            title: 'GitHub',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://github.com/{{ site.github_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.linkedin_username -%}
          {
            id: 'socials-linkedin',
            title: 'LinkedIn',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.linkedin.com/in/{{ site.linkedin_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.x_username -%}
          {
            id: 'socials-x',
            title: 'X',
            description: 'Twitter',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://twitter.com/{{ site.x_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.mastodon_username -%}
          {
            id: 'socials-mastodon',
            title: 'Mastodon',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://{{ site.mastodon_username  }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.medium_username -%}
          {
            id: 'socials-medium',
            title: 'Medium',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://medium.com/@{{ site.medium_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.quora_username -%}
          {
            id: 'socials-quora',
            title: 'Quora',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.quora.com/profile/{{ site.quora_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.flickr_id -%}
          {
            id: 'socials-flickr',
            title: 'Flickr',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.flickr.com/{{ site.flickr_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.blogger_url -%}
          {
            id: 'socials-blogger',
            title: 'Blogger',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("{{ site.blogger_url }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.work_url -%}
          {
            id: 'socials-work',
            title: 'Work',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("{{ site.work_url }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.wikidata_id -%}
          {
            id: 'socials-wikidata',
            title: 'Wikidata',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.wikidata.org/wiki/{{ site.wikidata_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.wikipedia_id -%}
          {
            id: 'socials-wikipedia',
            title: 'Wikipedia',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.strava_userid -%}
          {
            id: 'socials-strava',
            title: 'Strava',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.strava.com/athletes/{{ site.strava_userid }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.keybase_username -%}
          {
            id: 'socials-keybase',
            title: 'Keybase',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://keybase.io/{{ site.keybase_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.gitlab_username -%}
          {
            id: 'socials-gitlab',
            title: 'GitLab',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://gitlab.com/{{ site.gitlab_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.dblp_url -%}
          {
            id: 'socials-dblp',
            title: 'DBLP',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("{{ site.dblp_url }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.stackoverflow_id -%}
          {
            id: 'socials-stackoverflow',
            title: 'Stackoverflow',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://stackoverflow.com/users/{{ site.stackoverflow_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.kaggle_id -%}
          {
            id: 'socials-kaggle',
            title: 'Kaggle',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.kaggle.com/{{ site.kaggle_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.lastfm_id -%}
          {
            id: 'socials-last-fm',
            title: 'Last FM',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.last.fm/user/{{ site.lastfm_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.spotify_id -%}
          {
            id: 'socials-spotify',
            title: 'Spotify',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://open.spotify.com/user/{{ site.spotify_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.pinterest_id -%}
          {
            id: 'socials-pinterest',
            title: 'Pinterest',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.pinterest.com/{{ site.pinterest_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.unsplash_id -%}
          {
            id: 'socials-unsplash',
            title: 'Unsplash',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://unsplash.com/@{{ site.unsplash_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.instagram_id -%}
          {
            id: 'socials-instagram',
            title: 'Instagram',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://instagram.com/{{ site.instagram_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.facebook_id -%}
          {
            id: 'socials-facebook',
            title: 'Facebook',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://facebook.com/{{ site.facebook_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.bluesky_url -%}
          {
            id: 'socials-bluesky',
            title: 'Bluesky',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://bsky.app/profile/{{ site.bluesky_url }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.youtube_id -%}
          {
            id: 'socials-youtube',
            title: 'YouTube',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://youtube.com/@{{ site.youtube_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.discord_id -%}
          {
            id: 'socials-discord',
            title: 'Discord',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://discord.com/users/{{ site.discord_id }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.zotero_username -%}
          {
            id: 'socials-zotero',
            title: 'Zotero',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("https://www.zotero.org/{{ site.zotero_username }}", "_blank");
            },
          },
        {%- endif -%}
        {%- if site.rss_icon -%}
          {
            id: 'socials-rss',
            title: 'RSS Feed',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("{{ site.baseurl }}/feed.xml", "_blank");
            },
          },
        {%- endif -%}
        {%- comment -%}
        {%- if site.wechat_qr -%}
          // check how to add wechat qr code
          {
            id: 'socials-wechat',
            title: 'WeChat',
            section: '{{ site.data[site.active_lang].strings.search.socials }}',
            handler: () => {
              window.open("", "_blank");
            },
          },
        {%- endif -%}
        {%- endcomment -%}
      {%- endif -%}
      {%- for l in site.languages -%}
        {%- if l != site.active_lang -%}
          {%- if l == site.default_lang -%}
            {
              id: 'lang-{{ l }}',
              title: '{{ l }}',
              section: '{{ site.data[site.active_lang].strings.search.languages }}',
              handler: () => {
                window.location.href = "{{ site.baseurl }}{{ page.url }}";
              },
            },
          {%- else -%}
            {
              id: 'lang-{{ l }}',
              title: '{{ l }}',
              section: '{{ site.data[site.active_lang].strings.search.languages }}',
              handler: () => {
                window.location.href = "{{ site.baseurl }}/{{ l }}{{ page.url }}";
              },
            },
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if site.enable_darkmode -%}
        {
          id: 'light-theme',
          title: '{{ site.data[site.active_lang].strings.search.light_theme.title }}',
          description: '{{ site.data[site.active_lang].strings.search.light_theme.description }}',
          section: '{{ site.data[site.active_lang].strings.search.theme }}',
          handler: () => {
            setThemeSetting("light");
          },
        },
        {
          id: 'dark-theme',
          title: '{{ site.data[site.active_lang].strings.search.dark_theme.title }}',
          description: '{{ site.data[site.active_lang].strings.search.dark_theme.description }}',
          section: '{{ site.data[site.active_lang].strings.search.theme }}',
          handler: () => {
            setThemeSetting("dark");
          },
        },
        {
          id: 'system-theme',
          title: '{{ site.data[site.active_lang].strings.search.system_theme.title }}',
          description: '{{ site.data[site.active_lang].strings.search.system_theme.description }}',
          section: '{{ site.data[site.active_lang].strings.search.theme }}',
          handler: () => {
            setThemeSetting("system");
          },
        },
      {%- endif -%}
    ];
  </script>
  <script src="{{ '/assets/js/shortcut-key.js' | relative_url | bust_file_cache }}"></script>
{% endif %}
