<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    {% assign animation_count = 1 %}
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9" style="--stagger: {{ animation_count }};" data-animate>{{ content }}</div>
            {% assign animation_count = animation_count | plus: 1 %}
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3" style="--stagger: {{ animation_count }};" data-animate>
              {% assign animation_count = animation_count | plus: 1 %}
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3" style="--stagger: {{ animation_count }};" data-animate>
              {% assign animation_count = animation_count | plus: 1 %}
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9" style="--stagger: {{ animation_count }};" data-animate>{{ content }}</div>
            {% assign animation_count = animation_count | plus: 1 %}
          </div>
        {% endif %}
      {% else %}
        <div style="--stagger: {{ animation_count }};" data-animate>
          {% assign animation_count = animation_count | plus: 1 %}
          {{ content }}
        </div>
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
  </body>
</html>
